.header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sub-title {
    font-size: calc(3vmin);
}

.my-beautiful-name {
    font-size: calc(35px + 2vmin);
}


