.skills-container {
    column-count: 3;
    column-gap: 40px;
    column-rule: 10ch;
}

.skills {
    column-span: none;
    padding-top: 0vh;
    color: rgb(23, 24, 26);
    text-align: left;
}

.skill-title {
    padding-left: 2vh;
    color: rgb(28, 49, 173);
    font-size: 3;
}




