.container {
    filter:blur(0);
    background-color: #000000;
    max-width: 100%;
    height: 200pt;
    background-image: url('../../pictures/ubcmainMallpic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 30px solid #ffffff;
}

.container:hover .container{
    opacity: 0.7;
}
  
.container:hover .ubc-logoWhite {
    opacity: 0;
}

.container:hover .ubc-logoBlack {
    opacity: 1;
}

.container:hover .majorBlack {
    opacity: 1;
}

.container:hover .majorWhite {
    opacity: 0;
}

.ubc-logoWhite {
    opacity: 0;
    padding-top: 0px;
    padding-left: 0px;
    /*unfortunately this is adjusted manually, not sure how to anchor it to center of background pic*/
    top: 25%;
    left: 20%;
    
    width: 60%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /*I have to make this really fast because I'm using this as "relative" position
    to make the actual container show up*/
    transition: 0.25s ease;
}

.ubc-logoBlack {
    opacity: 1;
    transition: 1s ease;
    padding-top: 0px;
    padding-left: 0px;
    top: 25%;
    left: 20%;
    width: 60%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
/*
.image {
    filter:blur(1px);
    background-image:url('../../pictures/ubcmainMallpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 10px solid #ffffff;
    width: 100%;
    height: auto;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}
*/

.majorBlack {
    opacity: 1;
    transition: 1s ease;
    font-size: 30pt;
    padding-left: 200px;
    padding-top: 0px;
    top: 45%;
    left: 15%;
    color: #813131;
    position: absolute;
}

.majorWhite {
    opacity: 0;
    transition: 1s ease;
    font-size: 30pt;
    padding-left: 200px;
    padding-top: 0px;
    
    top: 45%;
    left: 15%;
    
    color: #ffffff;
    position: absolute;
}

