.myPicDescription {
    text-align: center;
    padding-bottom: 10;
}

.profilePic {
    padding-top: 20pt;
    text-align: center;
}

.myName {
    text-align: center;
    font-size: 5vmin;
}

.navSocialMedia {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 20px;
}

.footer {
    text-align: center;
}


.skills-container {
    text-align: center;
}

.skills {
    font-weight: bold;
    text-align: center;
    column-span: none;
    padding-top: 0vh;
    color: rgb(97, 97, 102);
    text-align: left;
}

.skill-title {
    font-weight: 1200;
    padding-left: 2vh;
    color: rgb(20, 98, 161);
    font-size: 3vmin;
}