.myPicDescription {
    text-align: center;
    padding-bottom: 10;
}

.myName {
    text-align: center;
    font-size: 5vmin;
}

.navSocialMedia {
    text-align: center;
}

.footer {
    text-align: center;
}